.a{
    color:rgb(146, 16, 126);
    font-size:25px;
    text-decoration: underline;
}
.a{
    color:red;
}
h2.c.d{color:aqua;}
h2.c{color:green;}
.c{color:orange;}
h2{color:red;}
h2{color:blue;font-size:40px;}
h2{color:green!important;}

.box{
    font-size:30px;
    color:green;
    text-decoration: underline;
}
h4{
    color:red;
}
h5{
    border:1px solid red;
    width:400px;
    height:100px;
    display: inline;;
}
b,strong{
    border:1px solid blue;
    width:150px;
    /* height:150px; */
    display: inline-block;
}